
@{
    ViewBag.Title = "Danh sách trò chơi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Latest news section -->
<div class="latest-news-section">
    <div class="ln-title">Khuyến Mãi</div>
    <div class="news-ticker">
        <div class="news-ticker-contant" name="promotion">
            <div class="nt-item"><span class="new">Khuyến Mãi</span>Hot trong tháng</div>
        </div>
    </div>
</div>
<!-- Latest news section end -->
<!-- Page info section -->
<section class="page-info-section set-bg" name="BannerGame" data-setbg="">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Trò chơi</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->
<!-- Page section -->
<section class="page-section review-page spad">
    <div class="container">
        <div class="row" name="game">

        </div>
        <div class="text-center pt-4">
            <button class="site-btn btn-sm" onclick="loadMore()">Tải thêm</button>
        </div>
    </div>
</section>
<!-- Page section end -->
<!-- Review section -->
<section class="review-section review-dark spad set-bg" data-setbg="/img/review-bg-2.jpg">
    <div class="container">
        <div class="section-title text-white">
            <div class="cata new">Trò chơi Hot</div>
            <h2>Các trò chơi</h2>
        </div>
        <div class="row text-white" name="gameHot">

        </div>
    </div>
</section>
@section scripts{
    <script>
        $(function Promotion() {
            $.ajax({
                type: 'get',
                url: '/Home/Promotion',
                success: function (data) {
                    var div = ``
                    $.each(data.data, function (k, v) {
                        div += `<div class="nt-item" onclick="Detail('/chi-tiet-khuyen-mai/${v.Slug}/${v.ID}')" style="cursor: pointer;"><span class="${randomArray(length, ["new", "racing", "adventure", "strategy"])}">${v.Title}</span>${v.Content}. </div>`
                    })
                    $('div[name="promotion"]').append(div)
                }
            })
        })
        Game(1)
        var pageNumber= 1;
        function Game(page) {
            $.ajax({
                type: 'get',
                url: '/Game/Game',
                data: { page: page, pageSize:6},
                success: function (data) {
                    var div = ``
                    $.each(data.data, function (k, v) {
                        div += `<div class="col-md-6" onclick="Detail('/chi-tiet-tro-choi/${v.Slug}/${v.Id}')" style="cursor: pointer;">
                                    <div class="review-item">
                                        <div class="review-cover set-bg" data-setbg="${v.Image}"style="background-image:url('${v.Image}')">
                                            <div class="score ${randomArray(length, ["yellow", "purple", "green", "pink"])}">${v.PointReview}</div>
                                        </div>
                                        <div class="review-text">
                                            <h4>${v.Name}</h4>
                                            <div class="rating">
                                                ${pointStart(v.PointReview)}
                                            </div>
                                            <p>${v.Title}</p>
                                        </div>
                                    </div>
                                </div>`
                    })
                    $('div[name="game"]').append(div)
                    pageNumber++
                }
            })
        }

        function loadMore() {
            Game(pageNumber)
        }

        $(function GameHot() {
            $.ajax({
                type: 'get',
                url: '/Home/Game',
                success: function (data) {
                    var divHot = ``
                    $.each(data.dataHot, function (k, v) {
                        divHot += `<div class="col-lg-3 col-md-6" onclick="Detail('/chi-tiet-tro-choi/${v.Slug}/${v.Id}')" style="cursor: pointer;">
                <div class="review-item">
                    <div class="review-cover set-bg" data-setbg="${v.Image}" style="background-image:url('${v.Image}')">
                        <div class="score ${randomArray(length, ["yellow", "purple", "green", "pink"])}">${v.PointReview}</div>
                    </div>
                    <div class="review-text">
                        <h5>${v.Name}</h5>
                        <p>${v.Title}</p>
                    </div>
                </div>
            </div>`
                    })
                    $('div[name="gameHot"]').append(divHot)
                }
            })
        })

        
        function pointStart(point) {
            var div = ``
            var start = convertToFiveScale(point)
            if (start >=0) {
                for (let i = 0; i < start; i++) {
                    div += `<i class="fa fa-star"></i>`
                }
            }
            var end = 5 - start
            for (let i = 0; i < end; i++) {
                div += `<i class="fa fa-star is-fade"></i>`
            }
            return div
        }

        function convertToFiveScale(absoluteScore) {
            var fiveScaleScore = Math.round((absoluteScore / 10) * 5);
            return fiveScaleScore;
        }

        function randomArray(length, arr) {
            var str = "";
            var randomIndex = Math.floor(Math.random() * arr.length);
            str = arr[randomIndex]
            return str;
        }
    </script>
    }
