
@{
    ViewBag.Title = "MoneyCharge";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Nạp tiền thẻ thành viên</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Quản lý thẻ thành viên</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">Nạp tiền thẻ thành viên</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin::Wizard-->
                    <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="first" data-wizard-clickable="false">
                        <!--begin::Wizard Nav-->
                        <div class="wizard-nav border-bottom">
                            <div class="wizard-steps p-8 p-lg-10">
                                <!--begin::Wizard Step 1 Nav-->
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                    <div class="wizard-label">
                                        <i class="wizard-icon la la-credit-card"></i>
                                        <h3 class="wizard-title">1. Quét thẻ</h3>
                                    </div>
                                    <span class="svg-icon svg-icon-xl wizard-arrow">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>

                                <!--end::Wizard Step 1 Nav-->
                                <!--begin::Wizard Step 2 Nav-->
                                <div class="wizard-step" data-wizard-type="step" >
                                    <div class="wizard-label">
                                        <i class="wizard-icon fas fa-cash-register"></i>
                                        <h3 class="wizard-title">2. Nạp tiền</h3>
                                    </div>
                                    <span class="svg-icon svg-icon-xl wizard-arrow">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>

                                <!--end::Wizard Step 2 Nav-->
                                <!--begin::Wizard Step 3 Nav-->
                                <div class="wizard-step" data-wizard-type="step" >
                                    <div class="wizard-label">
                                        <i class="wizard-icon flaticon-user-add"></i>
                                        <h3 class="wizard-title">3. Thông tin thành viên</h3>
                                    </div>
                                    <span class="svg-icon svg-icon-xl wizard-arrow">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Wizard Step 3 Nav-->
                                <!--begin::Wizard Step 4 Nav-->
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                    <div class="wizard-label">
                                        <i class="wizard-icon flaticon-notepad"></i>
                                        <h3 class="wizard-title">4. Kiểm tra thông tin sau nạp</h3>
                                    </div>
                                    
                                </div>
                                <!--end::Wizard Step 4 Nav-->
                                

                            </div>
                        </div>
                        <!--end::Wizard Nav-->
                        <!--begin::Wizard Body-->
                        <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                            <div class="col-xl-12 col-xxl-7">
                                <!--begin::Wizard Form-->
                                <form class="form fv-plugins-bootstrap fv-plugins-framework" id="createMemberCardForm">
                                    <!--begin::Wizard Step 1-->
                                    <div class="pb-5" data-wizard-type="step-content">
                                        <h4 class="mb-10 font-weight-bold text-dark">Quét thẻ</h4>
                                        <!--begin::Select-->
                                        <h6 class="font-weight-bolder mb-3">Đưa thẻ vào máy đọc</h6>
                                        <div class="form-group">
                                            <button type="button" id="CheckCurrCardBtn" class="btn btn-success mr-3">
                                                Kiểm tra
                                            </button>
                                            <button type="button" id="loadingBtn" class="btn btn-outline-warning spinner spinner-darker-warning spinner-left mr-3">
                                                Đang kiểm tra
                                            </button>
                                            <i id="iconStatus" class="flaticon2-check-mark text-success"></i>
                                            <input name="CurrCardID" hidden />
                                        </div>
                                        <span id="textNoti" class="form-text text-muted"></span>
                                        <!--end::Select-->

                                        <div class="separator separator-dashed my-10"></div>
                                        <h6 class="font-weight-bolder mb-3">Thông tin</h6>
                                        @*<div class="form-group fv-plugins-icon-container">

                <label>Người sở hữu:</label>
                <input class="form-control form-control-solid form-control-lg " readonly style="width:100%" name="FullName" />


            </div>*@
                                        <div class="form-group fv-plugins-icon-container row">
                                            <div class="col-lg-6">

                                                <label>Số tiền thẻ hiện có:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="CurrBalance" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">đ</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Tổng tiền thẻ đã nạp:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="CurrTotal" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">đ</span></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="separator separator-dashed my-10"></div>
                                        <h6 class="font-weight-bolder mb-3">Thông tin loại thẻ</h6>
                                        <div class="form-group fv-plugins-icon-container">

                                            <label>Cấp độ thẻ:</label>
                                            <input class="form-control form-control-solid form-control-lg " readonly style="width:100%" name="CurrLevelName" />


                                        </div>


                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Quà tặng:</label>
                                            <input class="form-control form-control-solid form-control-lg" readonly style="width:100%" name="CurrGiftLevelName" />

                                        </div>
                                        <div class="form-group fv-plugins-icon-container row">
                                            <div class="col-lg-6">
                                                <label>Tỉ lệ tiền tặng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="CurrRewardRate" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">%</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số điểm cộng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="CurrPointPlus" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">Điểm</span></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group fv-plugins-icon-container ">
                                            <div class="form-group">
                                                <label>Quà tặng đặc biệt</label>
                                                <div class="checkbox-inline">
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CurrPersonal" disabled="disabled" name="CurrCheckGifs" />
                                                        <span></span>
                                                        Quà tặng cá nhân
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CurrSpecial" disabled="disabled" name="CurrCheckGifs" />
                                                        <span></span>
                                                        Quà tặng dịp đặc biệt (sinh nhật,..)
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CurrHoliday" disabled="disabled" name="CurrCheckGifs" />
                                                        <span></span>
                                                        Quà tặng ngày lễ
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group fv-plugins-icon-container">
                                                <label>Kỉ niệm đặt biệt</label>
                                                <div class="checkbox-inline">
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CurrAvailableTemplates" disabled="disabled" name="CurrCheckMemory" />
                                                        <span></span>
                                                        Tự tạo mẫu
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CurrCustomizeAvailableTemplate" disabled="disabled" name="CurrCheckMemory" />
                                                        <span></span>
                                                        Chọn những mẫu có sẵn
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>VIP</label>
                                            <div class="checkbox-list">
                                                <label class="checkbox checkbox-disabled">
                                                    <input type="checkbox" id="CurrVIP" disabled="disabled" name="CurrCheckVIP" />
                                                    <span></span>
                                                    Có
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Đặc quyền VIP</label>
                                            <div class="checkbox-inline">
                                                <label class="checkbox checkbox-disabled" id="labelMocktail">
                                                    <input type="checkbox" id="CurrMocktail" disabled="disabled" name="CurrCheckVIPGifts" />
                                                    <span></span>
                                                    Ưu đãi Mocktail
                                                </label>
                                                <label class="checkbox checkbox-disabled">
                                                    <input type="checkbox" id="CurrVipRoom" disabled="disabled" name="CurrCheckVIPGifts" />
                                                    <span></span>
                                                    Ưu đãi bàn và phòng VVIP
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Wizard Step 1-->
                                    <!--begin::Wizard Step 2-->
                                    <div class="pb-5" data-wizard-type="step-content">
                                        <h4 class="mb-10 font-weight-bold text-dark">Thông tin thẻ</h4>
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Số tiền nạp</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg money" name="MoneyPay" placeholder="Số tiền nạp">

                                        </div>
                                        <!--end::Input-->
                                        <div class="form-group fv-plugins-icon-container row">
                                            <div class="col-lg-6">
                                                <label>Số tiền tổng sau khi nạp</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg money" readonly name="TotalMoneyPay" placeholder="Số tiền nạp">
                                                    <div class="input-group-append"><span class="input-group-text">đ</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số tiền thẻ sau khi nạp</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg money" readonly name="CardMoneyPay" placeholder="Số tiền nạp">
                                                    <div class="input-group-append"><span class="input-group-text">đ</span></div>
                                                </div>
                                            </div>


                                        </div>
                                        <!--end::Input-->
                                        <div class="separator separator-dashed my-10"></div>
                                        <div class="form-group fv-plugins-icon-container">

                                            <label>Cấp độ thẻ:</label>
                                            <input class="form-control form-control-solid form-control-lg " readonly style="width:100%" name="LevelName" />


                                        </div>


                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Quà tặng:</label>
                                            <input class="form-control form-control-solid form-control-lg" readonly style="width:100%" name="GiftLevelName" />

                                        </div>
                                        <div class="form-group fv-plugins-icon-container row">
                                            <div class="col-lg-6">
                                                <label>Tỉ lệ tiền tặng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="RewardRate" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">%</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số điểm cộng:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="PointPlus" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">Điểm</span></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group fv-plugins-icon-container ">
                                            <div class="form-group">
                                                <label>Quà tặng đặc biệt</label>
                                                <div class="checkbox-inline">
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="Personal" disabled="disabled" name="CheckGifs" />
                                                        <span></span>
                                                        Quà tặng cá nhân
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="Special" disabled="disabled" name="CheckGifs" />
                                                        <span></span>
                                                        Quà tặng dịp đặc biệt (sinh nhật,..)
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="Holiday" disabled="disabled" name="CheckGifs" />
                                                        <span></span>
                                                        Quà tặng ngày lễ
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group fv-plugins-icon-container">
                                                <label>Kỉ niệm đặt biệt</label>
                                                <div class="checkbox-inline">
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="AvailableTemplates" disabled="disabled" name="CheckMemory" />
                                                        <span></span>
                                                        Tự tạo mẫu
                                                    </label>
                                                    <label class="checkbox checkbox-disabled">
                                                        <input type="checkbox" id="CustomizeAvailableTemplate" disabled="disabled" name="CheckMemory" />
                                                        <span></span>
                                                        Chọn những mẫu có sẵn
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>VIP</label>
                                            <div class="checkbox-list">
                                                <label class="checkbox checkbox-disabled">
                                                    <input type="checkbox" id="VIP" disabled="disabled" name="CheckVIP" />
                                                    <span></span>
                                                    Có
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Đặc quyền VIP</label>
                                            <div class="checkbox-inline">
                                                <label class="checkbox checkbox-disabled" id="labelMocktail">
                                                    <input type="checkbox" id="Mocktail" disabled="disabled" name="CheckVIPGifts" />
                                                    <span></span>
                                                    Ưu đãi Mocktail
                                                </label>
                                                <label class="checkbox checkbox-disabled">
                                                    <input type="checkbox" id="VipRoom" disabled="disabled" name="CheckVIPGifts" />
                                                    <span></span>
                                                    Ưu đãi bàn và phòng VVIP
                                                </label>
                                            </div>
                                        </div>

                                    </div>


                                    <!--end::Wizard Step 2-->
                                    <!--begin::Wizard Step 2-->
                                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                        <h3 class="mb-10 font-weight-bold text-dark">Thông tin thành viên</h3>
                                        <!--begin::Input-->
                                        <div class="form-group fv-plugins-icon-container">
                                            <label>Tên tài khoản</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="AccountName" placeholder="Tên tài khoản">


                                        </div>
                                        <!--end::Input-->
                                        <!--begin::Input-->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group fv-plugins-icon-container">
                                                    <label>Họ và tên</label>
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="FullName">
                                                    <!--end::Input-->
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group fv-plugins-icon-container">
                                                    <!--begin::Input-->
                                                    <label>Ngày sinh</label>
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="DateOfBirth">
                                                    <!--end::Input-->
                                                </div>
                                            </div>
                                        </div>

                                        <!--end::Input-->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group fv-plugins-icon-container">
                                                    <label>Địa chỉ Email</label>
                                                    <input type="email" class="form-control form-control-solid form-control-lg" readonly name="Email">

                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group fv-plugins-icon-container">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="Phone">

                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>

                                    </div>


                                    <!--end::Wizard Step 2-->
                                    <!--begin::Wizard Step 3-->
                                    <div class="pb-5" data-wizard-type="step-content">
                                        <h4 class="mb-10 font-weight-bold text-dark">Xác nhận tạo thẻ</h4>
                                        <!--begin::Select-->
                                       <div id="ScanNewCardID">
                                            <h6 class="font-weight-bolder mb-3">Đưa thẻ vào máy đọc</h6>
                                            <div class="form-group">
                                                <button type="button" id="CheckChargeCurrCardBtn" class="btn btn-success mr-3">
                                                    Kiểm tra
                                                </button>
                                                <button type="button" id="loadingChargeBtn" class="btn btn-outline-warning spinner spinner-darker-warning spinner-left mr-3">
                                                    Đang kiểm tra
                                                </button>
                                                <i id="iconStatusCharge" class="flaticon2-check-mark text-success"></i>
                                                <input name="CurrChargeCardID" hidden />
                                            </div>
                                            <span id="textChargeNoti" class="form-text text-muted"></span>
                                        <!--end::Select-->
                                        </div>

                                        <div class="separator separator-dashed my-10"></div>

                                        <div class="form-group fv-plugins-icon-container" id="NameContain">
                                            <label>Họ và tên</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" style="width:100%" readonly name="FullNameReview">
                                            <!--end::Input-->
                                        </div>


                                        <!--end::Select-->
                                        <div class="form-group fv-plugins-icon-container">

                                            <label>Cấp độ thẻ:</label>
                                            <input class="form-control form-control-solid form-control-lg " readonly style="width:100%" name="LevelNameReview" />


                                        </div>
                                        <div class="form-group fv-plugins-icon-container row">
                                            <div class="col-lg-6">
                                                <label>Số tiền:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="Money" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">đ</span></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số điểm:</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-solid form-control-lg" readonly name="Point" aria-describedby="basic-addon2" />
                                                    <div class="input-group-append"><span class="input-group-text">Điểm</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Select-->

                                    </div>
                                    <!--end::Wizard Step 3-->
                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                        <div class="mr-2">
                                            <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Quay lại</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Tạo thẻ</button>
                                            <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Tiếp</button>
                                        </div>
                                    </div>
                                    <!--end::Wizard Actions-->
                                    <div></div><div></div><div></div><div></div>
                                </form>

                            </div>
                        </div>
                        <!--end::Wizard Body-->
                    </div>
                    <!--end::Wizard-->
                </div>
                <!--end::Wizard-->
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<!--begin::Page Scripts(used by this page)-->
<script src="~/Areas/assets/admin/membercard/MoneyCharge.js"></script>
<!--end::Page Scripts-->
<!--begin::Page Custom Styles(used by this page)-->
<link href="~/Areas/assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />
<!--end::Page Custom Styles-->
