@model JPGame.SettingGame
@{
    ViewBag.Title = "Sửa "+Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Sửa trò chơi cho hệ thống</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin</h3>
                        </div>
                        <form id="Form" class="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Mã định danh:</label>
                                    <input name="Id" type="text" class="form-control form-control-solid" value="@Model.Id" readonly required placeholder="Mã" />
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Tên trò chơi:</label>
                                    <input name="Name" type="text" class="form-control form-control-solid" value="@Model.Name" required placeholder="Tên trò chơi" />
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Giá tiền chơi/lượt:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">đ</span>
                                        </div>
                                        <input type="text" class="form-control form-control-solid money" value="@Model.Price" id="kt_money_input" name="Price" />
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary mr-2 btnCreate">Tạo</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@section scripts{
    <script>
        "use strict";
        // Class definition

        var KTMaskDemo = function () {
            var demos = function () {
                $('#kt_money_input').mask('000.000.000.000.000', {
                    reverse: true
                });
            }
            return {
                init: function () {
                    demos();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTMaskDemo.init();
        });
        $('#summernote').summernote({
            placeholder: 'Nhập mô tả',
        });
        "use strict";

        // Class Definition
        var Add = function () {
            var _handleSignInForm = function () {
                var validation;
                const form = document.getElementById('Form');
                // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
                validation = FormValidation.formValidation(
                    KTUtil.getById('Form'),
                    {
                        fields: {
                            Id: {
                                validators: {
                                    notEmpty: {
                                        message: 'Vui lòng nhập mã trò chơi'
                                    },

                                }
                            },
                            Name: {
                                validators: {
                                    notEmpty: {
                                        message: 'Vui lòng nhập tên tin tức'
                                    },

                                }
                            },
                            Price: {
                                validators: {
                                    notEmpty: {
                                        message: 'Vui lòng nhập giá tiền'
                                    },

                                }
                            },

                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            //defaultSubmit: new FormValidation.plugins.DefaultSubmit(), // Uncomment this line to enable normal button submit after form validation
                            bootstrap: new FormValidation.plugins.Bootstrap(),
                            icon: new FormValidation.plugins.Icon({
                                valid: 'fa fa-check',
                                invalid: 'fa fa-times',
                                validating: 'fa fa-refresh',
                            }),
                        }
                    }
                );


                $('.btnCreate').click(function () {
                    let data = $('#Form').serializeArray()
                    validation.validate().then(function (status) {
                        if (status == 'Valid') {
                            Add(data)
                        } else {
                            swal.fire({
                                text: "Vui lòng điền đầy đủ thông tin.",
                                icon: "error",
                                buttonsStyling: false,
                                heightAuto: false,
                                confirmButtonText: "Ok!",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            }).then(function () {
                                KTUtil.scrollTop();
                            });
                        }
                    });

                })




                function Add(data) {
                    var price = $('input[name="Price"]').val().trim().replaceAll(".","")
                        $.each(data, function (k, v) {
                            if (data[k].name == "Price") {
                                data[k].value = parseFloat(price)
                            }
                        })
                    $.ajax({
                        type: "POST",
                        url: "/Admin/SettingGameAdmin/Edits",
                        data: data,
                        datatype: "json",
                        success: function (result) {
                            if (result.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Sửa thành công!',
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function () {
                                    window.location.href ="/Admin/SettingGameAdmin/Index"
                                })
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Đã có lỗi xảy ra, vui lòng thử lại!',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            }
                        },
                        error: function () {
                            Swal.fire({

                                icon: 'error',
                                title: 'Something wrong!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    })
                }
            }



            // Public Functions
            return {
                // public functions
                init: function () {


                    _handleSignInForm();

                }
            };
        }();

        // Class Initialization
        jQuery(document).ready(function () {
            Add.init();
        });

    </script>
}


